<div class="container">
  <h3>Welcome to Twitter-Getter!</h3>

  <form id= "twitter_username" action="/username" method="GET">
    <input type='text' name="handle" placeholder="twitter handle">
    <input type="submit" value="Submit">
  </form>

</div>
